@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Racing.UI.Pages.TeamParticipant.EditModel
@{
}

<br/><br/><br/>

<p>Enter a TeamParticipant:</p>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-label">
                Pilot:
            </label>
            <select asp-for="Tp.PilotId" asp-items="Model.PilotList" class="form-control">
                <option value="">--- Select pilot ---</option>
            </select>
            <span asp-validation-for="Tp.PilotId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label">
                Team:
            </label>
            <select asp-for="Tp.TeamId" asp-items="Model.TeamList" class="form-control">
                <option value="">--- Select team ---</option>
            </select>
            <span asp-validation-for="Tp.TeamId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label">
                Race:
            </label>
            <select asp-for="Tp.RaceId" asp-items="Model.RaceList" class="form-control">
                <option value="">--- Select race ---</option>
            </select>
            <span asp-validation-for="Tp.RaceId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-auto my-1">
        <input asp-for="Tp.Id" value="@Model.Tp.Id" hidden/>
        <input class="btn btn-primary" type="submit" value="Update"/>
    </div>
</form>

<div class="col-md-6 col-lg-3">
    <div class="card my-3 shadow bg-white border-0" style="border-radius: 1rem;">
        <div class="card-body">
            <h3 class="card-title">
                <a class="text-dark" href="javascript:history.go(-1)">Back</a>
            </h3>
        </div>
    </div>
</div>