@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Racing.UI.Pages.Season.EditModel
@{
}

<br/><br/><br/>

<p>Enter a Season:</p>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-label">
                Name:
            </label>
            <input asp-for="Season.Name" class="form-control" value="@Model.Season.Name"/>
            <span asp-validation-for="Season.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label">
                StartDate:
            </label>
            <input asp-for="Season.StartDate" type="date" class="form-control" value="@Model.Season.StartDate"/>
            <span asp-validation-for="Season.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label">
                EndDate:
            </label>
            <input asp-for="Season.EndDate" type="date" class="form-control" value="@Model.Season.EndDate"/>
            <span asp-validation-for="Season.EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-label">
                Series:
            </label>
            <select asp-for="Season.SeriesId" asp-items="Model.SeriesList" class="form-control">
                <option value="">--- Select series ---</option>
            </select>
        </div>
    </div>
    <div class="col-auto my-1">
        <input asp-for="Season.Id" value="@Model.Season.Id" hidden/>
        <input class="btn btn-primary" type="submit" value="Update"/>
    </div>
</form>

<div class="col-md-6 col-lg-3">
    <div class="card my-3 shadow bg-white border-0" style="border-radius: 1rem;">
        <div class="card-body">
            <h3 class="card-title">
                <a class="text-dark" href="javascript:history.go(-1)">Back</a>
            </h3>
        </div>
    </div>
</div>